<?xml version="1.0"?>
<config>
    <modules>
        <Meanbee_HomePagePerTheme>
            <version>1.0.0</version>
        </Meanbee_HomePagePerTheme>
    </modules>
    <global>
        <blocks>
            <meanbee_homepagepertheme>
                <class>Meanbee_HomePagePerTheme_Block</class>
            </meanbee_homepagepertheme>
        </blocks>
        <helpers>
            <meanbee_homepagepertheme>
                <class>Meanbee_HomePagePerTheme_Helper</class>
            </meanbee_homepagepertheme>
        </helpers>
        <models>
            <meanbee_homepagepertheme>
                <class>Meanbee_HomePagePerTheme_Model</class>
            </meanbee_homepagepertheme>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch_cms_index_index>
                <observers>
                    <meanbee_homepagepertheme>
                        <class>meanbee_homepagepertheme/observer_homePagePerTheme</class>
                        <method>run</method>
                    </meanbee_homepagepertheme>
                </observers>
            </controller_action_predispatch_cms_index_index>
        </events>
    </frontend>
</config>
